garage-cerberus_flows.json
[{"id":"6a69e310.fc67ec","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"7f24338f.5be41c","type":"ttn uplink","z":"6a69e310.fc67ec","name":"TTN domohome_sensor_garage uplink","app":"6f7eb113.b65b4","dev_id":"domohome_sensor_garage","field":"","x":190,"y":40,"wires":[["9e08d617.d2f2b8"]]},{"id":"a327767d.a8f7c8","type":"ui_text","z":"6a69e310.fc67ec","group":"2e1ab7ef.75d9e8","order":1,"width":"6","height":"2","name":"Time","label":"Last movement at","format":"{{msg.payload}}","layout":"col-center","x":890,"y":420,"wires":[]},{"id":"a18f9b67.4d56b8","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":220,"wires":[["d3d84a16.2c2b38","1156f8ff.7882a7"]]},{"id":"343f7a6d.faec96","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["d3d84a16.2c2b38"]]},{"id":"9e08d617.d2f2b8","type":"function","z":"6a69e310.fc67ec","name":"Split comunication","func":"var msg1={}; var msg2={};\nif ( msg.payload_fields.sensor_status === \"Alarm\"){\n    msg1.topic = \"Alarm\";\n    msg1.payload = 45;\n    msg2.topic = \"Alarm\";\n    msg2.payload = 0;\n} else if ( msg.payload_fields.sensor_status === \"Alive\"){\n    msg1.topic = \"Alive\";\n    msg1.payload = 20;\n}\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"x":150,"y":220,"wires":[["a18f9b67.4d56b8","ab8af5ea.ca86f8","c598d6fa.ff50a8"],["343f7a6d.faec96","d3d84a16.2c2b38"]]},{"id":"4dc1d9d0.9e7f38","type":"http request","z":"6a69e310.fc67ec","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/domohome_garage_intruder/with/key/cviFn8QcCxi2HEJynIv2se","tls":"","proxy":"","authType":"","x":630,"y":380,"wires":[[]]},{"id":"13700b82.5f6b44","type":"http request","z":"6a69e310.fc67ec","name":"Request to IFTTT Pilar","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/domohome_garage_intruder/with/key/bH-6NfXXDtAb_ykrFP26dV","tls":"","proxy":"","authType":"","x":620,"y":340,"wires":[[]]},{"id":"ab8af5ea.ca86f8","type":"switch","z":"6a69e310.fc67ec","name":"Intruder detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"45","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":360,"wires":[["da01ecb1.d58fa"]]},{"id":"c598d6fa.ff50a8","type":"function","z":"6a69e310.fc67ec","name":"reset timer","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":140,"wires":[["1156f8ff.7882a7"]]},{"id":"1156f8ff.7882a7","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":140,"wires":[["4dc1d9d0.9e7f38","13700b82.5f6b44","d57dfcbe.76f2"]]},{"id":"87fe5aa6.d83f28","type":"comment","z":"6a69e310.fc67ec","name":"Alive control timer","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":130,"y":100,"wires":[]},{"id":"da5db37.0cbe55","type":"function","z":"6a69e310.fc67ec","name":"Add Current time to payload","func":"msg.payload = new Date().toLocaleString('es-ES');\nreturn [msg];","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["a327767d.a8f7c8"]]},{"id":"d57dfcbe.76f2","type":"function","z":"6a69e310.fc67ec","name":"Not Alive payload","func":"msg.topic = \"Not Alive\";\nmsg.payload = 50;\nreturn [msg];","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["d3d84a16.2c2b38","da01ecb1.d58fa"]]},{"id":"d3d84a16.2c2b38","type":"ui_chart","z":"6a69e310.fc67ec","name":"","group":"2e1ab7ef.75d9e8","order":3,"width":"9","height":"5","label":"Sensor status","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"55","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00b000","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":160,"wires":[[]]},{"id":"6f2df6d3.a15838","type":"comment","z":"6a69e310.fc67ec","name":"Alert communications","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":140,"y":300,"wires":[]},{"id":"6baab7af.52ff58","type":"function","z":"6a69e310.fc67ec","name":"store mode","func":"flow.set('Alerts',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[[]]},{"id":"7b4e4b00.16c564","type":"ui_switch","z":"6a69e310.fc67ec","name":"","label":"Alerts On/Off","tooltip":"Set alert mode","group":"2e1ab7ef.75d9e8","order":2,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":480,"wires":[["6baab7af.52ff58"]]},{"id":"f9982fd3.001da","type":"inject","z":"6a69e310.fc67ec","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":480,"wires":[["7b4e4b00.16c564"]]},{"id":"da01ecb1.d58fa","type":"switch","z":"6a69e310.fc67ec","name":"if alerts On","property":"Alerts","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":360,"wires":[["13700b82.5f6b44","4dc1d9d0.9e7f38","da5db37.0cbe55"]]},{"id":"6f7eb113.b65b4","type":"ttn app","z":"","appId":"domohome_garage","accessKey":"ttn-account-v2.6AJIOaOML9uNym4En1JgKP43Ve0pecN8pRqi_hIKrL8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2e1ab7ef.75d9e8","type":"ui_group","z":"","name":"Surveillance","tab":"2c5ea055.ea376","order":1,"disp":true,"width":"9","collapse":false},{"id":"2c5ea055.ea376","type":"ui_tab","z":"","name":"Garage","icon":"local_parking","order":11,"disabled":false,"hidden":false}]