garage-cerberus flows.json
[{"id":"6a69e310.fc67ec","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"6f7eb113.b65b4","type":"ttn app","z":"","appId":"domohome_garage","accessKey":"ttn-account-v2.6AJIOaOML9uNym4En1JgKP43Ve0pecN8pRqi_hIKrL8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2e1ab7ef.75d9e8","type":"ui_group","z":"","name":"Surveillance","tab":"2c5ea055.ea376","order":1,"disp":true,"width":"9","collapse":false},{"id":"2c5ea055.ea376","type":"ui_tab","z":"","name":"Garage","icon":"local_parking","order":11,"disabled":false,"hidden":false},{"id":"2930e836.c41928","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080ff","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Garage Cerberus","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"6e2cab6f.9fa424","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":""},{"id":"ffdbe3c6.77e3c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.114","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f24338f.5be41c","type":"ttn uplink","z":"6a69e310.fc67ec","name":"TTN domohome_sensor_garage uplink","app":"6f7eb113.b65b4","dev_id":"domohome_sensor_garage","field":"","x":210,"y":40,"wires":[["9e08d617.d2f2b8"]]},{"id":"a327767d.a8f7c8","type":"ui_text","z":"6a69e310.fc67ec","group":"2e1ab7ef.75d9e8","order":1,"width":"6","height":"2","name":"Time","label":"Last movement at","format":"{{msg.payload}}","layout":"col-center","x":910,"y":460,"wires":[]},{"id":"a18f9b67.4d56b8","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":280,"wires":[["d3d84a16.2c2b38","1156f8ff.7882a7"]]},{"id":"343f7a6d.faec96","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":320,"wires":[["d3d84a16.2c2b38"]]},{"id":"9e08d617.d2f2b8","type":"function","z":"6a69e310.fc67ec","name":"Split comunication","func":"var msg1={}; var msg2={};\nif ( msg.payload_fields.sensor_status === \"Alarm\"){\n    msg1.topic = \"Alarm\";\n    msg1.payload = 45;\n    msg2.topic = \"Alarm\";\n    msg2.payload = 0;\n} else if ( msg.payload_fields.sensor_status === \"Alive\"){\n    msg1.topic = \"Alive\";\n    msg1.payload = 20;\n}\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"x":170,"y":280,"wires":[["a18f9b67.4d56b8","ab8af5ea.ca86f8","c598d6fa.ff50a8","e089485e.bd6968"],["343f7a6d.faec96","d3d84a16.2c2b38"]]},{"id":"4dc1d9d0.9e7f38","type":"http request","z":"6a69e310.fc67ec","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/domohome_garage_intruder/with/key/cviFn8QcCxi2HEJynIv2se","tls":"","proxy":"","authType":"","x":850,"y":420,"wires":[[]]},{"id":"13700b82.5f6b44","type":"http request","z":"6a69e310.fc67ec","name":"Request to IFTTT Pilar","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/domohome_garage_intruder/with/key/bH-6NfXXDtAb_ykrFP26dV","tls":"","proxy":"","authType":"","x":840,"y":380,"wires":[[]]},{"id":"ab8af5ea.ca86f8","type":"switch","z":"6a69e310.fc67ec","name":"Intruder detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"45","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":420,"wires":[["da01ecb1.d58fa","da5db37.0cbe55","5a8a0096.1cdf5","e402fd61.d0196"]]},{"id":"c598d6fa.ff50a8","type":"function","z":"6a69e310.fc67ec","name":"reset timer","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["1156f8ff.7882a7"]]},{"id":"1156f8ff.7882a7","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":200,"wires":[["d57dfcbe.76f2","8b8bb369.d356","da01ecb1.d58fa"]]},{"id":"87fe5aa6.d83f28","type":"comment","z":"6a69e310.fc67ec","name":"Alive control timer","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":150,"y":100,"wires":[]},{"id":"da5db37.0cbe55","type":"function","z":"6a69e310.fc67ec","name":"Add Current time to payload","func":"msg.payload = new Date().toLocaleString('es-ES');\nreturn [msg];","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["a327767d.a8f7c8"]]},{"id":"d57dfcbe.76f2","type":"function","z":"6a69e310.fc67ec","name":"Not Alive payload","func":"msg.topic = \"Not Alive\";\nmsg.payload = 50;\nreturn [msg];","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["d3d84a16.2c2b38","da01ecb1.d58fa","72504f2e.d9055","e089485e.bd6968"]]},{"id":"d3d84a16.2c2b38","type":"ui_chart","z":"6a69e310.fc67ec","name":"","group":"2e1ab7ef.75d9e8","order":3,"width":"9","height":"5","label":"Sensor status","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"55","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00b000","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":220,"wires":[[]]},{"id":"6f2df6d3.a15838","type":"comment","z":"6a69e310.fc67ec","name":"Alert communications","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":160,"y":360,"wires":[]},{"id":"6baab7af.52ff58","type":"function","z":"6a69e310.fc67ec","name":"store mode","func":"flow.set('Alerts',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[[]]},{"id":"7b4e4b00.16c564","type":"ui_switch","z":"6a69e310.fc67ec","name":"","label":"Alerts On/Off","tooltip":"Set alert mode","group":"2e1ab7ef.75d9e8","order":2,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":40,"wires":[["6baab7af.52ff58"]]},{"id":"f9982fd3.001da","type":"inject","z":"6a69e310.fc67ec","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":490,"y":40,"wires":[["7b4e4b00.16c564"]]},{"id":"da01ecb1.d58fa","type":"switch","z":"6a69e310.fc67ec","name":"if alerts On","property":"Alerts","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":400,"wires":[["13700b82.5f6b44","4dc1d9d0.9e7f38"]]},{"id":"2d886040.c1ee8","type":"mysql","z":"6a69e310.fc67ec","mydb":"6e2cab6f.9fa424","name":"","x":400,"y":580,"wires":[[]]},{"id":"5a8a0096.1cdf5","type":"template","z":"6a69e310.fc67ec","name":"Format data Intruder","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `garage`(`event`) VALUES ('Intruder')","output":"str","x":180,"y":540,"wires":[["2d886040.c1ee8"]]},{"id":"dfaef21d.8903a","type":"comment","z":"6a69e310.fc67ec","name":"Store events","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":130,"y":480,"wires":[]},{"id":"72504f2e.d9055","type":"template","z":"6a69e310.fc67ec","name":"Format data Not Alive","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `garage`(`event`) VALUES ('Not Alive')","output":"str","x":180,"y":600,"wires":[["2d886040.c1ee8"]]},{"id":"8b8bb369.d356","type":"function","z":"6a69e310.fc67ec","name":"Not Alive payload","func":"msg.topic = \"Not Alive\";\nmsg.payload = 0;\nreturn [msg];","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["5bea2213.fb985c"]]},{"id":"5bea2213.fb985c","type":"delay","z":"6a69e310.fc67ec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":200,"wires":[["d3d84a16.2c2b38"]]},{"id":"e089485e.bd6968","type":"function","z":"6a69e310.fc67ec","name":"Store status","func":"flow.set('Status',msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"a3a1413f.7c3b3","type":"inject","z":"6a69e310.fc67ec","name":"","topic":"Check status","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":140,"wires":[["cb18205d.9b708"]]},{"id":"cb18205d.9b708","type":"switch","z":"6a69e310.fc67ec","name":"","property":"Status","propertyType":"flow","rules":[{"t":"eq","v":"Not Alive","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":140,"wires":[["d57dfcbe.76f2","8b8bb369.d356","da01ecb1.d58fa"]]},{"id":"73889667.52da68","type":"inject","z":"6a69e310.fc67ec","name":"Reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":300,"wires":[["d3d84a16.2c2b38"]]},{"id":"772591f5.df6d1","type":"inject","z":"6a69e310.fc67ec","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":490,"y":80,"wires":[["7b4e4b00.16c564"]]},{"id":"a0980212.da9c1","type":"mqtt out","z":"6a69e310.fc67ec","name":"","topic":"/home/mainbedroom_sensor/operation","qos":"","retain":"","broker":"ffdbe3c6.77e3c","x":820,"y":480,"wires":[]},{"id":"e402fd61.d0196","type":"change","z":"6a69e310.fc67ec","name":"Alarm light","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[["a0980212.da9c1","a1917c20.9c4d4"]]},{"id":"a1917c20.9c4d4","type":"mqtt out","z":"6a69e310.fc67ec","name":"","topic":"/home/livingroom_sensor/operation","qos":"","retain":"","broker":"ffdbe3c6.77e3c","x":800,"y":520,"wires":[]}]